* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Mona Sans", sans-serif;
  color: #111112;
}

.text-lime {
  color: #d2ff00;
}
